<nav class="navbar bg-dark navbar-dark">    
    <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 30px; height: 50px;">HR Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="margin-right: 30px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- <li class="nav-item" style="margin: 10px 20px;">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Employee</button>
        </li> -->
        <li class="nav-item" style="margin: 10px 20px;">
          <!-- <button type="button" (click)="onEdit()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Employee</button> -->
          <button type="button" (click)="RouteToFindAllEmployees()" class="btn btn-light mx-3" >ShowAll Employees</button>
          <button type="button" (click)="RouteToFindAllDepartments()" class="btn btn-primary" >ShowAll Departments</button>
          <button type="button" (click)="RouteToMyProfile()" class="btn btn-danger mx-3" >My Profile</button>
          <button type="button" (click)="RouteToFindSuspendedUsers()" class="btn btn-warning " >View Suspended Users</button>
          <button type="button" routerLink="/employee-roles" class="btn btn-secondary mx-3 " >View Roles</button>

        </li>
        <!-- <li class="nav-item" style="margin: 10px 20px;">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row text-center">
    
    <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
        <div class="row">
          <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
            <h1 class="m-0">404</h1>
            <h6>Page not found</h6>
            <p>Use navigations in the <span class="text-info">Nav Bar</span>, to access different pages in the <span class="text-info">Application</span></p>
          </div>
        </div>
    </div>
    
  </div>
</div>
